wp/*.php
wp/themes
wp/plugins
!wp/themes/avant-car

.DS_Store

# Project specific ignores
**/bower_components
**/node_modules
**/assets/vendor/*
**/assets/css/main.css.map
**/assets/css/main.min.css.map
**/assets/css/*main*.css
**/assets/css/main.css
**/assets/js/*scripts*.js
**/assets/js/vendor/modernizr.min.js
**/.sass-cache
